<!DOCTYPE css>
.Sauce {
	float: right;
	margin: auto;
}

.aplus {
	width: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
}

.contact {
	margin: auto;
	display: block;
	font-size: 48px;
}

.resume {
	float: center;
	color: white;
	background-color: pink;
	font-size: 75px;
}

.sauceface {
	width: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
}

.saucebandpic {
	width: 30%;
	heigth: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
}

.vansaucce {
	width: 30%;
	heigth: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
}

.borderradius {
	border-radius: 20px;
	border-color: black;
}

.borderradius2 {
	border-radius: 150px;
}

pb {
  direction: rtl;
  unicode-bidi: bidi-override;
}