.Sauce {
	float: right;
	margin: auto;
}

.aplus {
	width: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	border: 5px solid;
}

.contact {
	margin: auto;
	display: block;
	font-size: 48px;
}

.resume {
	display: block;
	margin: auto;
	color: white;
	background-color: pink;
	font-size: 75px;
}

.sauceface {
	width: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	border: 5px solid;
}

.saucebandpic {
	width: 30%;
	heigth: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	border: 5px solid;
}

.vansaucce {
	width: 30%;
	heigth: 30%;
	margin: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	border: 5px solid;
}

.borderradius {
	margin-center: auto;
	border-radius: 20px;
	border-color: black;
	border: 5px solid;
}

.borderradius2 {
	border-radius: 150px;
	border: 5px solid;
}

.borderradius3 {
	margin-right: auto;
	border: 5px solid;
	border-radius: 150px;
}

.pb {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.poo {
	border: 5px solid;
	margin-bottom: auto;
	text-align: center;
	font-size: 30px;
	font-family: copperplate;
	background-color: white;
}

.center {
	display: flex;
	justify-content: center;
	gap: 20px;
	border: 10px solid;
}

